Speculator/Service References/SmartComData/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartComData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISmartComData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDataBase_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorServices.Trading" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SmartCOM3Lib" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorServices.SmartCom" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartComData_DefaultOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:DefaultOperation" />
  </wsdl:message>
  <wsdl:message name="ISmartComData_DefaultOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefaultOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ConnectToDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToDataSource" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ConnectToDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ConnectToHistoryDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToHistoryDataSource" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ListenSymbol_InputMessage">
    <wsdl:part name="parameters" element="tns:ListenSymbol" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ListenSymbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListenSymbolResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBase_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IDataBase_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="IDataBase_ReturnHistoryData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReturnHistoryData" />
  </wsdl:message>
  <wsdl:message name="IDataBase_UpdateBidOrAskEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBidOrAskEvent" />
  </wsdl:message>
  <wsdl:message name="IDataBase_TradeEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TradeEvent" />
  </wsdl:message>
  <wsdl:message name="IDataBase_QuoteEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:QuoteEvent" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderSucceeded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderSucceeded" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderFailed" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderMoveSucceeded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderMoveSucceeded" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderMoveFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderMoveFailed" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderCancelSucceeded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderCancelSucceeded" />
  </wsdl:message>
  <wsdl:message name="IDataBase_OrderCancelFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderCancelFailed" />
  </wsdl:message>
  <wsdl:message name="IDataBase_UpdatePosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePosition" />
  </wsdl:message>
  <wsdl:message name="IDataBase_UpdateOrder_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IDataBase_AddTrade_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AddTrade" />
  </wsdl:message>
  <wsdl:portType name="ISmartComData">
    <wsdl:operation name="DefaultOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartComData/DefaultOperation" message="tns:ISmartComData_DefaultOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartComData/DefaultOperationResponse" message="tns:ISmartComData_DefaultOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IDataBase">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectToDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase/ConnectToDataSource" message="tns:IDataBase_ConnectToDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/ConnectToDataSourceResponse" message="tns:IDataBase_ConnectToDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectToHistoryDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase/ConnectToHistoryDataSource" message="tns:IDataBase_ConnectToHistoryDataSource_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListenSymbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase/ListenSymbol" message="tns:IDataBase_ListenSymbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/ListenSymbolResponse" message="tns:IDataBase_ListenSymbol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase/PlaceOrder" message="tns:IDataBase_PlaceOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase/CancelOrder" message="tns:IDataBase_CancelOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReturnHistoryData">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/ReturnHistoryData" message="tns:IDataBase_ReturnHistoryData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateBidOrAskEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/UpdateBidOrAskEvent" message="tns:IDataBase_UpdateBidOrAskEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TradeEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/TradeEvent" message="tns:IDataBase_TradeEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QuoteEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/QuoteEvent" message="tns:IDataBase_QuoteEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderSucceeded">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderSucceeded" message="tns:IDataBase_OrderSucceeded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderFailed" message="tns:IDataBase_OrderFailed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderMoveSucceeded">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderMoveSucceeded" message="tns:IDataBase_OrderMoveSucceeded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderMoveFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderMoveFailed" message="tns:IDataBase_OrderMoveFailed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderCancelSucceeded">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderCancelSucceeded" message="tns:IDataBase_OrderCancelSucceeded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderCancelFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/OrderCancelFailed" message="tns:IDataBase_OrderCancelFailed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdatePosition">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/UpdatePosition" message="tns:IDataBase_UpdatePosition_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateOrder">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/UpdateOrder" message="tns:IDataBase_UpdateOrder_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddTrade">
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase/AddTrade" message="tns:IDataBase_AddTrade_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISmartComData" type="tns:ISmartComData">
    <wsp:PolicyReference URI="#NetTcpBinding_ISmartComData_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DefaultOperation">
      <soap12:operation soapAction="http://tempuri.org/ISmartComData/DefaultOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDataBase" type="tns:IDataBase">
    <wsp:PolicyReference URI="#NetTcpBinding_IDataBase_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToDataSource">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/ConnectToDataSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToHistoryDataSource">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/ConnectToHistoryDataSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ListenSymbol">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/ListenSymbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/CancelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReturnHistoryData">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/ReturnHistoryData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBidOrAskEvent">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/UpdateBidOrAskEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeEvent">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/TradeEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuoteEvent">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/QuoteEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSucceeded">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderSucceeded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderFailed">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderFailed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMoveSucceeded">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderMoveSucceeded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMoveFailed">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderMoveFailed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderCancelSucceeded">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderCancelSucceeded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderCancelFailed">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/OrderCancelFailed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/UpdatePosition" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/UpdateOrder" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrade">
      <soap12:operation soapAction="http://tempuri.org/IDataBase/AddTrade" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartComData">
    <wsdl:port name="NetTcpBinding_ISmartComData" binding="tns:NetTcpBinding_ISmartComData">
      <soap12:address location="net.tcp://127.0.0.1:51000/Speculator/SmartComData/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:51000/Speculator/SmartComData/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDataBase" binding="tns:NetTcpBinding_IDataBase">
      <soap12:address location="net.tcp://127.0.0.1:51000/Speculator/SmartComData/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:51000/Speculator/SmartComData/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>