Speculator/Service References/SmartComData/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" />
  <xs:element name="DefaultOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToDataSource">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToDataSourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToHistoryDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" minOccurs="0" name="symbol" nillable="true" type="q1:Symbol" />
        <xs:element minOccurs="0" name="dayDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" minOccurs="0" name="symbol" nillable="true" type="q2:Symbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenSymbolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBidOrAskEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="symbol" nillable="true" type="q3:SmartComSymbol" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="value" nillable="true" type="q4:SmartComBidAskValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="symbol" nillable="true" type="q5:SmartComSymbol" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="trade" nillable="true" type="q6:SmartComTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="symbol" nillable="true" type="q7:SmartComSymbol" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="quote" nillable="true" type="q8:SmartComQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>