Speculator/Service References/SmartComData/SpeculatorServices.SmartCom.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpeculatorServices.SmartCom" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeculatorServices.SmartCom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" />
  <xs:complexType name="ArrayOfHistoryDataRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryDataRow" nillable="true" type="tns:HistoryDataRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryDataRow" nillable="true" type="tns:ArrayOfHistoryDataRow" />
  <xs:complexType name="HistoryDataRow">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="BidAsk" nillable="true" type="q1:SmartComBidAskValue" />
      <xs:element minOccurs="0" name="EventDateTime" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="Quote" nillable="true" type="q2:SmartComQuote" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpeculatorModel.SmartCom" minOccurs="0" name="Tick" nillable="true" type="q3:SmartComTrade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryDataRow" nillable="true" type="tns:HistoryDataRow" />
</xs:schema>