Speculator/Service References/SpeculatorData/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" />
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" minOccurs="0" name="DataSourcesResult" nillable="true" type="q1:ArrayOfDataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbols">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" minOccurs="0" name="selecteDataSource" nillable="true" type="q2:DataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" minOccurs="0" name="GetSymbolsResult" nillable="true" type="q3:ArrayOfSymbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>