Speculator/Service References/SpeculatorData/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpeculatorData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISpeculatorData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpeculatorData_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="ISpeculatorData_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeculatorData_DataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:DataSources" />
  </wsdl:message>
  <wsdl:message name="ISpeculatorData_DataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataSourcesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpeculatorData">
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeculatorData/GetHistory" message="tns:ISpeculatorData_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeculatorData/GetHistoryResponse" message="tns:ISpeculatorData_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataSources">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeculatorData/DataSources" message="tns:ISpeculatorData_DataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeculatorData/DataSourcesResponse" message="tns:ISpeculatorData_DataSources_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISpeculatorData" type="tns:ISpeculatorData">
    <wsp:PolicyReference URI="#NetTcpBinding_ISpeculatorData_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetHistory">
      <soap12:operation soapAction="http://tempuri.org/ISpeculatorData/GetHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSources">
      <soap12:operation soapAction="http://tempuri.org/ISpeculatorData/DataSources" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpeculatorData">
    <wsdl:port name="NetTcpBinding_ISpeculatorData" binding="tns:NetTcpBinding_ISpeculatorData">
      <soap12:address location="net.tcp://localhost/SpeculatorData/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/SpeculatorData/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>