Speculator/Service References/SpeculatorData/SpeculatorModel.MainData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeculatorModel.MainData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSource" nillable="true" type="tns:DataSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSource" nillable="true" type="tns:ArrayOfDataSource" />
  <xs:complexType name="DataSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSource" nillable="true" type="tns:DataSource" />
  <xs:complexType name="ArrayOfSymbol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Symbol" nillable="true" type="tns:Symbol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSymbol" nillable="true" type="tns:ArrayOfSymbol" />
  <xs:complexType name="Symbol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Symbol" nillable="true" type="tns:Symbol" />
</xs:schema>